<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>Document</title>
</head>
<body>
    <h1> Hello Express</h1>
    <form action="/add" method="post">
        <label for="task">task </label>
        <input id="task" type="text">
        <label for="time-left">time left </label>
        <input id="time-left" type="number">
    </form>


    <script src="C:\Users\user\Desktop\WEB-PROJECTS\firstFullStack\firstFullStack/index.js"></script>
</body>
</html>
